<a href="@ViewBag.Url" class="card shadow text-white">
    <img src="@String.Format("https://images.weserv.nl?url={0}&h=768&w=512&fit=cover&a=entropy", ViewBag.ImageUrl)"
         class="card-img"
         alt="category-img" />
    <div class="card-img-overlay d-flex flex-column justify-content-end">
        <h5 class="card-title font-weight-bold">@ViewBag.Title</h5>
        <p class="card-text">@ViewBag.Description</p>
    </div>
</a>